services:
  - type: web
    name: junt-backend
    runtime: docker
    plan: free
    region: oregon
    branch: main
    rootDir: backend
    dockerfilePath: ./Dockerfile
    envVars:
      - key: MONGODB_URI
        sync: false
      - key: SECRET_KEY
        sync: false
